*{
    margin: 0px;
    font-family: sans-serif;
}
.div{
    max-width: 1320px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}
.nadpis{
    font-size: 45px;
    font-weight: 600;
    margin: auto;
    margin-top: 50px;
}
.podnadpis{
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
}
.startGame{
    width: 250px;
    height: 60px;
    font-size: 40px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 15px;
}
.playAgain{
    width: 250px;
    height: 60px;
    font-size: 40px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 15px;
    display: none;
}
