*{
    margin: 0px;
    font-family: 'SF Pro Display', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
p{
    line-height: 125%;
}
body{
    overflow-x: hidden;
}

#navbarproducts:hover #navdropdown{
    display: block;
    position: fixed;
    padding: 0px;
    margin: 0px;
}
#navdropdown{
    display: none;
}
#containerul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 30px;
}



.upper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.dclogo{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.uptxt{
    margin-top: 15px;
    font-size: 14px;
    margin-right: 50px;
}
.upbttn{
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid lightgray;
    height: 30px;
    width: 185px;
    display: flex;
    justify-content: center;
}
.upbttntxt{
    opacity: 0.4;
    padding-top: 6px;
    font-size: 12px;
    transition: 0.5s;
}
.upbttntxt:hover{
    opacity: 1;
    transition: 0.4s ease-in-out;
}



.ciaradiv{
    display: flex;
    justify-content: center;
}
.ciara{
    width: 1350px;
    height: 1px;
    background-color: lightskyblue;
    opacity: 0.5;
}



.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.openlablogo{
    width: 115px;
    margin-left: 314px;
    margin-top: 25px;
    margin-right: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    font-family: serif;
    color: black;
}
.containerul{
    display: flex;
    justify-content: space-between;
}
.navdropdown{
    width: 160px;
    height: 110px;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    list-style-type: none;
    padding-left: 10px;
    font-weight: 600;}
.dropdownli{
    padding-top: 15px;
    padding-left: 10px;
}
.lidropdown{
    margin-left: 30px;
    font-weight: 600;
}
.lidropdown-login{
    font-weight: 600;
    background-color: #2d85e4;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
}
.pridajtesaknam{
    width: 175px;
    height: 45px;
    background-color:#3597ff;
    margin-left: 125px;
    margin-top: 17px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.pridajtesaknam:hover{
    cursor: pointer;
}



.institut{
    background-color: #3597ff;
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-between;
}
.instituttxt1{
    color: white;
    font-size: 40px;
    margin-left: 310px;
    padding-top: 95px;
}
.instituttxt2{
    color: white;
    font-size: 17px;
    margin-left: 310px;
    padding-top: 25px;
}
.institutimg{
    width: 550px;
    height: 440px;
    margin-right: 400px;
}



.absoluteimg1div{
    display: flex;
    justify-content: right;
    width: 100%;
    overflow: hidden;
}
.absoluteimg1{
    height: 450px;
    display: flex;
    position: absolute;
    margin-top: -225px;
    margin-right: -225px;
}



.precoopenlab{
    width: 100%;
    height: 650px;
}
.precoquestion{
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}
.precotxt{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    font-size: 17px;
    color: #566b8d;
}
.ponuky{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rozvojspol{
    width: 300px;
    height: 200px;
    margin-left: 470px;
    margin-top: 25px;
}
.uceniepraxou{
    width: 300px;
    height: 200px;
    margin-top: 25px;
}
.rozvojtalentu{
    width: 300px;
    height: 200px;
    margin-right: 470px;
    margin-top: 25px;
}
.ponukyimg{
    width: 45px;
    height: 45px;
    padding-left: 5px;
    padding-top: 50px;
}
.ponukynadpis{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
}
.ponukytxt{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: #566b8d;
}



.visiacomplete{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 500px;
}
.visia1{
    width: 50%;
    height: 400px;
}
.visianadpis{
    font-size: 40px;
    margin-left: 310px;
    padding-top: 70px;
}
.strongopenlab{
    font-weight: 600;
    margin-left: 10px;
}
.visiatxt{
    font-size: 17px;
    margin-top: 50px;
    color: #566b8d;
}
.visia2{
    width: 50%;
    height: 400px;
}
.visia2row1{
    display: flex;
    flex-direction: row;
}
.triedy{
    width: 230px;
    height: 180px;
    background-color: rgba(241,247,253,255);
    margin-left: 170px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.triedytxt1{
    font-size: 100px;
    font-weight: 600;
    color: rgba(91,148,215,255);
    margin-left: 150px;
}
.triedytxt2{
    font-size: 20px;
    font-weight: 600;
    color: rgba(91,148,215,255);
    margin-left: 160px;
}
.studentov{
    width: 230px;
    height: 180px;
    background-color: rgba(215,248,235,255);
    margin-left: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.studentovtxt1{
    font-size: 100px;
    font-weight: 600;
    color: rgba(92,193,154,255);
    margin-left: 40px;
}
.studentovtxt2{
    font-size: 20px;
    font-weight: 600;
    color: rgba(92,193,154,255);
    margin-left: 100px;
}
.visia2row2{
    display: flex;
    flex-direction: row;
}
.labmastrov{
    width: 230px;
    height: 180px;
    background-color: rgba(248,243,215,255);
    margin-left: 170px;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.labmastrovtxt1{
    font-size: 100px;
    font-weight: 600;
    color: rgba(219,202,104,255);
    margin-left: 90px;
}
.labmastrovtxt2{
    font-size: 20px;
    font-weight: 600;
    color: rgba(219,202,104,255);
    margin-left: 85px;
}
.skoly{
    width: 230px;
    height: 180px;
    background-color: rgba(248,215,215,255);
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skolytxt1{
    font-size: 100px;
    font-weight: 600;
    color: rgba(185,94,115,255);
    margin-left: 150px;
}
.skolytxt2{
    font-size: 20px;
    font-weight: 600;
    color: rgba(185,94,115,255);
    margin-left: 150px;
}



.laby{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
.laby_div{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.labytxt{
    font-size: 40px;
    margin-left: 310px;
    padding-top: 90px;
}
.hybridlab{
    width: 250px;
    height: 250px;
    margin-left: 160px;
    transition: box-shadow .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hybridlab:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.hybridlab:hover .vsetciciarka{
    display: none;
}
.hybridlab:hover .vsetciciarka2{
    display: flex;
}

.hybridlabnadpis{
    font-size: 20px;
    color: black;
}
.hybridlabtxt{
    margin-top: 10px;
    color: #566b8d;
}
.gameslab{
    width: 250px;
    height: 250px;
    transition: box-shadow .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameslab:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.gameslab:hover .vsetciciarka{
    display: none;
}
.gameslab:hover .vsetciciarka2{
    display: flex;
}

.gameslabnadpis{
    font-size: 20px;
}
.gameslabtxt{
    margin-top: 10px;
    color: #566b8d;
}
.appslab{
    width: 250px;
    height: 250px;
    transition: box-shadow .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appslab:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.appslab:hover .vsetciciarka{
    display: none;
}
.appslab:hover .vsetciciarka2{
    display: flex;
}

.appslab:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.appslabnadpis{
    font-size: 20px;
}
.appslabtxt{
    margin-top: 10px;
    color: #566b8d;
}
.vsetciciarka{
    font-size: 25px;
    opacity: 0.5;
    display: flex;
}
.vsetciciarka2{
    font-size: 25px;
    opacity: 1;
    color: #3597ff;
    display: none;
}



.lokacia{
    width: 100%;
    height: 600px;
}
.lokacianadpis{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.lokacianadpisspan{
    font-weight: 600;
    margin-right: 10px;
}
.lokaciaicon{
    height: 25px;
    margin-left: 2px;
}
.lokaciaskoly{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 65px;
}
.lokacianazovskoly{
    font-size: 21px; 
    font-weight: 600;
    margin-top: 25px;
    position: absolute;
}
.nazovstranka{
    display: flex;
    flex-direction: row;
}
.strankaskoly1{
    font-size: 18px;
    font-weight: 600;
    color: #566b8d;
    margin-top: 50px;
    margin-left: 355px;
}
.strankaskoly2{
    font-size: 18px;
    font-weight: 600;
    color: #566b8d;
    margin-top: 50px;
    margin-left: 385px;
}
.lokaciahalova{
    width: 525px;
    height: 400px;
    margin-right: 120px;
}
.lokaciahalovaimg{
    width: 525px;
}
.adresahalova{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    }
.adresahalovatxt{
    color: #3597ff;
    display: flex;
    margin-top: 4px;
}
.lokaciakysuce{
    width: 525px;
    height: 400px;
}
.lokaciakysuceimg{
    width: 525px;
}
.adresakysuce{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    }
.adresakysucetxt{
    color: #3597ff;
    display: flex;
    margin-top: 4px;
}



.absoluteimg2div{
    display: flex;
    justify-content: right;
}
.absoluteimg2{
    height: 600px;
    display: flex;
    position: absolute;
    margin-top: -300px;
    margin-right: -225px;
}



.vsetci{
    width: 100%;
    height: 435px;
    margin-bottom: 50px;
}
.vsetcinadpis{
    display: block;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}
.vsetcimoznosti{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 200px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}
.labmastri{
    width: 300px;
    height: 235px;
    transition: box-shadow .3s;
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-right: 20px;
}

.labmastri:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.labmastri:hover .vsetciciarka{
    display: none;
}
.labmastri:hover .vsetciciarka2{
    display: flex;
}

.labmastrinadpis{
    font-size: 20px;
    text-align: start;
}
.labmastritxt{
    margin-top: 10px;
    color: #566b8d;
    font-size: 16px;
}
.firmy{
    width: 300px;
    height: 235px;
    transition: box-shadow .3s;
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-right: 20px;
}

.firmy:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.firmy:hover .vsetciciarka{
    display: none;
}
.firmy:hover .vsetciciarka2{
    display: flex;
}

.firmynadpis{
    font-size: 20px;
}
.firmytxt{
    margin-top: 10px;
    color: #566b8d;
    font-size: 16px;
}
.elekskoly{
    width: 300px;
    height: 235px;
    transition: box-shadow .3s;
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-right: 20px;
}

.elekskoly:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.elekskoly:hover .vsetciciarka{
    display: none;
}
.elekskoly:hover .vsetciciarka2{
    display: flex;
}

.elekskolynadpis{
    font-size: 20px;
}
.elekskolytxt{
    margin-top: 10px;
    color: #566b8d;
    font-size: 16px;
}
.studenti{
    width: 300px;
    height: 235px;
    transition: box-shadow .3s;
    display: flex;
    align-items: center;
    padding-left: 25px;

}

.studenti:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.studenti:hover .vsetciciarka{
    display: none;
}
.studenti:hover .vsetciciarka2{
    display: flex;
}

.studentinadpis{
    font-size: 20px;
}
.studentitxt{
    margin-top: 10px;
    color: #566b8d;
    font-size: 16px;
}



.slider1div{
    background-color: purple;
    height: 500px;
    width: 585px;
    border-radius: 5px;
    margin-left: 145px;
    position: absolute;
    z-index: 1;
}
.slider1divnadpis{
    font-size: 19px;
    color: white;
    padding-left: 30px;
    padding-top: 40px;
}
.ciara2{
    background-color: white;
    height: 0.5px;
    width: 50px;
    margin-top: 15px;
    margin-left: 30px;
    opacity: 0.5;
}
.slider1txt1{
    font-size: 27px;
    color: white;
    margin-left: 30px;
    margin-top: 25px;
    font-weight: 600;
    line-height: 130%;
}
.slider1txt2{
    font-size: 17px;
    color: white;
    margin-left: 30px;
    margin-top: 25px;
    line-height: 130%;
}
.slider1txt3{
    font-size: 17px;
    color: white;
    margin-left: 30px;
    margin-top: 60px;
}
.slider1txt3txt1{
    margin-bottom: 5px;
}



.slide{
    display: none
}
.slideimg{
    vertical-align: middle;
    width: 1200px;
    height: 500px;
    border-radius: 25px;
    z-index: 0;
    position: relative;
}
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    margin-top: 75px;
    margin-left: 575px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    display: inline-flex;
    background-color: #bbb;
    border-radius: 10px;
    transition: background-color 0.6s ease;
    margin: 0px 1px;
}
.active, .dot:hover{
    background-color: #3597ff;
}
.fade{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade{
    from {opacity: .7} 
    to {opacity: 1}
}




.absoluteimg3div{
    display: flex;
    justify-content: left;
    width: 100%;
    overflow: hidden;
}
.absoluteimg3{
    height: 450px;
    display: flex;
    position: absolute;
    margin-top: -150px;
    margin-left: -225px;
}



.vynimocny{
    width: 100%;
    height: 700px;
}
.vynimocnynadpis{
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.vynimocnymoznosti1riadok{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}
.partnerstvo{
    width: 270px;
    height: 200px;
}
.partnerstvonadpis{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.partnerstvotxt{
    color: #566b8d;
    margin-top: 25px;
    font-size: 15px;
}
.labmaster{
    width: 270px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
}
.labmasternadpis{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.labmastertxt{
    color: #566b8d;
    margin-top: 25px;
    font-size: 15px;
}
.ucebnyblok{
    width: 270px;
    height: 200px;
}
.ucebnybloknadpis{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.ucebnybloktxt{
    color: #566b8d;
    margin-top: 25px;
    font-size: 15px;
}
.vynimocnymoznosti2riadok{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.problemdriven{
    width: 270px;
    height: 200px;
}
.problemdrivennadpis{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.problemdriventxt{
    color: #566b8d;
    margin-top: 25px;
    font-size: 15px;
}
.projectdriven{
    width: 270px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
}
.projectdrivennadpis{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.projectdriventxt{
    color: #566b8d;
    margin-top: 25px;
    font-size: 15px;
}
.samostudium{
    width: 270px;
    height: 200px;
}
.samostudiumnadpis{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.samostudiumtxt{
    color: #566b8d;
    margin-top: 25px;
    font-size: 15px;
}



.ciara3-obal{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.ciara3{
    height: 0.5px;
    width: 70%;
    background-color: lightskyblue;
}



.spoznajnas{
    width: 100%;
    height: 900px;
    margin-bottom: 200px;
}
.spoznajnasnadpis{
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.spoznajnasludia{
    width: 100%;
    height: 700px;
}
.spoznajnasludiapopis{
    color: #566b8d;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}
.spoznajnasludiameno{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.spoznajnasludiapozicia{
    color: #566b8d;
    font-size: 13px;
    font-weight: 600;
}
.spoznajnasludia1row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.markoimg{
    width: 300px;
    margin-right: 25px;
    border-radius: 5px;
}
.grigorimg{
    width: 300px;
    margin-right: 25px;
    border-radius: 5px;
}
.matijaimg{
    width: 300px;
    margin-right: 25px; 
    border-radius: 5px;
}
.janimg{
    width: 300px;
    border-radius: 5px;
}
.spoznajnasludia2row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.veronikaimg{
    width: 300px;
    margin-right: 25px;
    border-radius: 5px;
}
.spoznajnasludiapopisveronika{
    color: #566b8d;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}
.spoznajnasludiamenoveronika{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.spoznajnasludiapoziciaveronika{
    color: #566b8d;
    font-size: 13px;
    font-weight: 600;
}
.nic1{
    width: 300px;
    height: 10px;
    margin-right: 25px;
    border-radius: 5px;
}
.nic2{
    width: 300px;
    height: 10px;
    margin-right: 25px;
    border-radius: 5px;
}
.nic3{
    width: 300px;
    height: 10px;
    border-radius: 5px;
}



.podportenas{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.podportenasimg{
    width: 660px;
    height: 450px;
    margin-right: 25px;
    border-radius: 5px;
}
.podportenastexty{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.podportenasnadpis{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: 10px;
}
.podportenastxt{
    color: #566b8d;
    font-size: 17px;
    margin-left: 10px;
}
.chcempodporit{
    height: 25px;
    width: 170px;
    margin-top: 50px;
    background-color: white;
    border: none;
    color: #3597ff;
    font-size: 18px;
}
.chcempodporit:hover{
    cursor: pointer;
}



.ktostojizaopenlabom{
    height: 125px;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    margin-left: 300px;
    margin-top: 200px;
    margin-bottom: 200px; 
}
.ktostojizaopenlabomimages{
    display: flex;
    flex-direction: column;
}
.ktostojizaopenlabomrada1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}
.ktostojizaopenlabomimg1{
    width: 150px;
    margin-left: 150px;
}
.ktostojizaopenlabomimg2{
    width: 150px;
    margin-left: 150px;
}
.ktostojizaopenlabomimg3{
    width: 150px;
    margin-left: 150px;
}
.ktostojizaopenlabomrada2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ktostojizaopenlabomimg4{
    width: 150px;
    margin-left: 150px;
}
.ktostojizaopenlabomimg5{
    width: 150px;
    margin-left: 50px;
}



.modernaskola{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
}
.modernaskolatexty{
    padding-left: 375px;
    height: 350px;
}
.modernaskolanadpis{
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 125%;
}
.modernaskolatxt{
    color: #566b98;
    font-size: 15px;
}
.modernaskolaloga{
    margin: 15px 0px;
}
.modernaskolayoutubeimg{
    margin-right: 10px;
}
.modernaskolaspotifyimg{
    margin-right: 10px;
}
.modernaskolaapplepodcastimg{
    margin-right: 10px;
}
.modernaskolabutton{
    border: none;
    border-radius: 10px;
    background-color: #3597ff;
    color: white;
    font-weight: 700;
    width: 200px;
    height: 50px;
}
.modernaskolabutton:hover{
    cursor: pointer;
}
.modernaskolaimg{
    height: 350px;
    margin-left: 75px;
}



.podpora{
    width: 100%;
    height: 400px;
    margin-top: 150px;
}
.podporanadpisdiv{
    display: flex;
    justify-content: center;
}
.podporanadpis{
    font-size: 40px;
}
.podporaimages{
    display: flex;
    flex-direction: column;
}
.podporaimagesrada1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.podporaimg11{
    height: 50px;
    margin-top: 100px;
    margin-right: 50px;
}
.superfakturaimg{
    height: 70px;
    margin-top: 90px;
    margin-right: 50px;
}
.podporaimg12{
    height: 50px;
    margin-top: 100px;
}
.podporaimagesrada2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.podporaimg21{
    height: 50px;
    margin-top: 50px;
    margin-right: 50px;
}
.podporaimg22{
    height: 50px;
    margin-top: 50px;
}



.newsletter{
    height: 145px;
    width: 1325px;
    background-color: #d7eaff;
    border-radius: 10px;
    margin-left: 300px;
    margin-bottom: 150px;
}
.newsletterpoddiv{
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 145px;
}
.newslettertxt{
    padding-left: 80px;
    font-size: 20px;
    display: flex;
    align-self: center;
}
.inputemaildiv{
    width: 580px;
    height: 40px;
    background-color: white;
    margin-left: 200px;
    display: flex;
    align-items: center;
    align-self: center;
    border-radius: 10px;
}
.inputemail{
    height: 35px;
    width: 500px;
    border: none;
    margin-left: 5px;
    padding-left: 20px;
}
.inputemail:focus{
    outline: none;
}
.inputemailimg{
    height: 20px;
    margin-left: 6px;
}
.endbar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.endbar2{
    height: 100px;
    margin-top: 610px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.endbarcontainer1{
    height: 100px;
    width: 450px;
    margin-left: 300px;
}
.openlablogo2{
    width: 115px;
    margin-left: 15px;
}
.endbarprava{
    margin-top: 5px;
    margin-left: 15px;
    color: #566b98;
    font-size: 14px;
}
.endbarcontainer2{
    height: 100px;
    width: 325px;
}
.ico-adresa{
    font-size: 14px;
    color: #566b98;
    margin-top: 15px;
    line-height: 140%;
}
.endbarcontainer3{
    height: 100px;
    width: 125px;
}
.email-gdpr{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.endbaremaillink{
    text-decoration: underline;
    color: #566b98;
    font-size: 14px;
    font-family: 'SF Pro Display', sans-serif;
}
.endbaremailtxt{
    color: #566b98;
    font-size: 14px;
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 10px;
}
.endbargdprlink{
    text-decoration: underline;
}
.endbargdprtxt{
    color: #566b98;
    font-size: 14px;
    font-family: 'SF Pro Display', sans-serif;
}
.endbarlinky-absoluteimg4{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-top: 25px;
}
.endbarlinky{
    display: flex;
    flex-direction: row;
}
.facebooklink{
    margin-right: 15px;
}
.facebooklinkimg{
    height: 20px;
}
.linkedinlink{
    margin-right: 15px;
}
.linkedinlinkimg{
    height: 20px;
}
.instagramlink{
    margin-right: 25px;
}
.instagramlinkimg{
    height: 20px;
}
.absoluteimg4div{
    width: 125px;
    height: 75px;
    display: flex;
    justify-self: right;
    background-color: yellow;
    opacity: 0.7;
}
.settingscookiesdiv{
    display: flex;
    justify-content: end;
}
.settingscookiespoddiv{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin-top: 865px;
    margin-right: 10px;
    background-color: #3597ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.settingscookiesimg{
    height: 35px;
    width: 35px;
}



.form-div{
    height: 700px;
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    background-color: #3597ff;
}
.form-poddiv{
    border-radius: 10px;
    height: 600px;
    margin-top: 50px;
    background-color: white;
    width: 460px;
}
.openlablogo3{
    width: 115px;
    margin-top: 70px;
    margin-left: 50px;
}
.form-poddiv-nadpis{
    font-size: 25px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.noaccount{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    font-size: 15px;
    color: gray;
}
.noaccount-registracia{
    color: #0c63c0;
    margin-left: 3px;
    font-weight: 600;
}
.loginform{
    margin-left: 50px;
    margin-top: 25px;
}
.form-login-email-label{
    font-weight: 600;
}
.form-login-email-input{
    height: 35px;
    width: 350px;
    padding-left: 10px;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.form-login-password-label{
    font-weight: 600;
}
.form-login-password-input{
    height: 35px;
    width: 350px;
    padding-left: 10px;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.remember-forgot-password-div{
    display: inline-flex;
    justify-content: space-between;
    width: 360px;
    margin-top: 31px;
}
.remember-forgot-password-div2{
    display: inline-flex;
    justify-content: space-between;
    width: 360px;
    margin-top: 25px;
}
.login-button{
    height: 50px;
    width: 360px;
    background-color: #3597ff;
    border: none;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 25px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.login-button:active{
    background-color: #2d85e4;
}
.forgot-password{
    color: #0c63c0;
    font-weight: 600;
}